.DeviceResult{
    color: #FFF;
    text-decoration: none;
    display: flex;
}
.DeviceResultIcon{
    flex-shrink: 1;
    margin: auto 2em;
}
.DeviceResultIcon i{
    font-size: 80px;
}

.DeviceResultText{
    margin: auto 0 auto 0;
}

.DeviceResultCodename{
    font-family: monospace;
}